<h3>Editando um livro</h3>

<%= form_for @book do |x| %>
  <p>Nome do livro: <%=x.text_field :name %></p>
  <p>Ano de publicação: <%=x.text_field :year_of_publishing %></p>
  <p>Id do Autor: <%= x.text_field :author_id%></p>
  <%= x.submit %>
<%end %>